{{#if success_msg}}
    <div class="notification is-success is-light">
        {{success_msg}}
    </div>
{{/if}}

{{#if error_msg}}
    <div class="notification is-danger is-light">
        {{error_msg}}
    </div>
{{/if}}