<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LunnaBlog</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
</head>
<body>

    {{> _navbar }}
    <div class="container mt-5">
        {{#if error}}
            <div class="notification is-danger is-light">
                {{error}}
            </div>
        {{else}}

        {{/if}}
        {{> _msg}}
        {{{ body }}}
    </div>

<script src="/js/bulma.min.js"></script>

</body>
</html>