<h1 class="title">Login :</h1>
<hr />
<div class="box">
    <form action="/usuarios/login" method="post">
        <div class="control mb-1">
            <label for="email">Email: </label>
            <input type="email" class="input" name="email" autocomplete="off">
        </div>
        <div class="control mb-4">
            <label for="senha">Senha: </label>
            <input type="password" class="input" name="senha" autocomplete="off">
        </div>
        <button type="submit" class="button is-info is-fullwidth">Entrar</button>
    </form>
</div>