<div class="box">   
    <h1 class="title has-text-centered">{{ postagem.titulo }}</h1>
    <hr />
    <p class="has-text-justified is-size-6">{{ postagem.conteudo }}</p>
    <hr />
    <small>Data de publicação: {{ postagem.data }}</small> <br />
</div>



